body {
	background-color: lightblue;
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	font-size: 1.2em;
}

#folders {
	text-align: center;
}

ul {
	width: 70%;
	margin: auto;
	display: inline-block;

}


li {
	display: inline;
	padding: 10px 40px;
}

h1 {
	text-align: center;
}

#quote {
	font-style: italic;
	text-align: right;
}

#author { 
	font-style: bold;
	text-align: right;
 }

#self {
	border-radius: 25px;
    border: 2px solid red;
    padding: 20px; 
}

#time {
	text-align: center;
}
