#map {
	border: 2px solid black;
	margin: auto;
	width: 50%;
	height: 400px;

}

#info{
	text-align: center;
	color: white;

}

h1{
	color: white;
	text-align: center;
	padding-bottom: 10px;
}

body { 
	background-image: url("background.png");
	background-repeat: no-repeat;
	background-size: 100% 100%;
	
 }


